////////// Variables //////////
///
$montserrat: "Montserrat", sans-serif;
$cyan-color: #04dcdc;
$transparent-bg: rgba(16, 20, 20, 0.5);
$skills-background: #1c1f1f;
$contact-background: #1c1f1f;
$project: #242424;

////////// Main Container //////////
///
#container {
  min-height: 100vh;
}

#page-up-arrow {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  border-radius: 100%;
  background-color: $cyan-color;
  box-shadow: 0 0 20px #000;
  transition: opacity 0.3s ease;
  cursor: pointer;

  > button {
    color: #111;
  }
}

.avatar-image {
  height: 100px;
  border-radius: 100%;
}
////////// Navigation //////////
///
///
@media screen and (max-width: 700px) {
  #hamburger-menu {
    display: flex !important;
  }
  #nav-buttons {
    display: none;
  }

  #nav-element {
    justify-content: space-between !important;
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }
}

#nav-element {
  height: 70px;
  position: fixed;
  z-index: 2;
  top: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem;
  background-color: $transparent-bg;
  backdrop-filter: blur(2px);
  width: 100%;
}

#hamburger-menu {
  display: none;
}

#nav-logo {
  display: flex;
  align-items: center;
  font-size: 20px;

  > span {
    color: $cyan-color;
    font-weight: 700;
  }
}

#home-button {
  display: flex;
  color: $cyan-color;
  background: transparent;
  border: none;
  outline: none;
}

#logo-name {
  font-family: $montserrat;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}

#nav-buttons {
  > button {
    font-family: $montserrat;
    text-transform: uppercase;
    letter-spacing: 5px;
  }
}

mat-nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
  gap: 2rem;
}

.nav-list-button {
  font-family: $montserrat;
  text-transform: uppercase;
  letter-spacing: 5px;
}

////////// Hero Section //////////
///
@media screen and (max-width: 1210px) {
  #hero {
    padding-top: 3rem;
    flex-direction: column;
    gap: 2rem;
  }

  #hero-content-left {
    margin-top: 5rem;
    width: 90% !important;
  }

  #hero-socials {
    position: static !important;
  }
}
@media screen and (max-width: 545px) {
  #hero-content-left {
    > h1 {
      display: flex;
      flex-direction: column;
    }
  }
}

.arrow-scroll {
  position: fixed;
  bottom: 10rem;
  left: 50%;
  height: 4em;
}

@media screen and (max-width: 900px) {
  .arrow-scroll {
    bottom: 3rem;
  }
}

.arrow {
  border: solid $cyan-color;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 7px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
}

.delayed {
  opacity: 0;
  animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
.arrow:nth-child(2) {
  animation: arrow1 1.5s ease-in-out infinite;
}

.arrow:nth-child(3) {
  animation: arrow2 1.5s ease-in-out infinite;
}

@keyframes arrow1 {
  100% {
    opacity: 0;
    top: 100%;
  }
}

@keyframes arrow2 {
  100% {
    opacity: 0;
    top: 50%;
  }
}

#hero {
  padding-bottom: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#hero-content-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 40%;

  > h1 {
    display: flex;
    margin: 0;
    margin-bottom: 0.5rem;
    gap: 1rem;
    font-family: $montserrat;
    font-weight: bold;

    > span {
      color: $cyan-color;
      font-family: $montserrat;
      font-weight: bold;
    }
  }

  > h3 {
    font-family: $montserrat;
    margin: 0;

    > mat-icon {
      color: $cyan-color;
    }
  }

  > p {
    letter-spacing: 3px;
    margin-top: 4rem;
    margin-left: 1rem;
    margin-bottom: 2rem;
    width: 90%;
  }
}

.bottom-element {
  margin: 0.3rem;
  margin-left: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.pulse {
  background: rgb(0, 240, 92);
  border-radius: 50%;
  margin-left: 0.2rem;
  height: 18px;
  width: 18px;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  transform: scale(1);
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(80, 248, 74, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

#hero-cv-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

#blob {
  margin-top: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 0 20px #000;
  height: 200px;
  width: 200px;
  background-color: #04dcdc;
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  animation: liquid 5s ease-in-out infinite;
}

@keyframes liquid {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    background-size: 100% 100%;
  }
  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    background-size: 300% 150%;
  }
  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    background-size: 100% 100%;
  }
}

#hero-socials {
  display: flex;
  position: absolute;
  bottom: 5rem;
  justify-content: space-between;
  gap: 2rem;

  > a {
    color: rgb(167, 167, 167);
    transition: all 0.3s ease-in-out;

    &:hover {
      transform: scale(1.3);
    }
  }
}

////////// Skills section //////////
///
///
@media screen and (max-width: 785px) {
  #skills-container {
    > h3 {
      width: 90%;
    }
  }
  #skills {
    margin-top: 3rem;
    grid-template-columns: repeat(3, 1fr) !important;
  }
}

@media screen and (max-width: 455px) {
  #skills {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}

#skills-container {
  position: relative;
  padding-top: 5rem;
  padding-bottom: 5rem;
  text-align: center;
  background-color: $skills-background;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  > h3 {
    margin-top: 3rem;
    font-family: $montserrat;
    text-transform: uppercase;
    font-weight: bold;

    > span {
      color: $cyan-color;
    }
  }
}

.image-container {
  position: absolute;
  top: -35px;
  border-radius: 100%;
  background-color: $cyan-color;
  border: 15px solid $contact-background;
}

#skills {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;

  > img {
    height: 100px;
  }

  > span {
    font-size: 20px;
  }
}

////////// projects section //////////
///
///
@media screen and (max-width: 902px) {
  #projects-container {
    height: auto;
  }
  #projects-content {
    flex-direction: column;
  }
  .project {
    width: 100% !important;
  }
  #projects-header {
    width: 90%;
  }
}

.project-avatar {
  border: 15px solid #101414;
}

#projects-container {
  position: relative;
  min-height: 100vh;
  padding-top: 5rem;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  > h3 {
    font-family: $montserrat;
    text-transform: uppercase;
    font-weight: bold;

    > span {
      color: $cyan-color;
    }
  }
}

#projects-header {
  margin-top: 3rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  > h3 {
    font-family: $montserrat;
    text-transform: uppercase;
    font-weight: bold;

    > span {
      color: $cyan-color;
    }
  }

  > p {
    font-family: $montserrat;
  }
}

i > a {
  color: $cyan-color;
}

#projects-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 3rem;
  width: 90%;
}

.project {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  height: 600px;
  width: 50%;
  background-color: $skills-background;
}

.project-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("/images/webp3.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: $skills-background;
  height: 50%;
  width: 100%;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.6);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(0.6);
  }
}

.project-informations {
  width: 100%;
  display: none;
  background-color: $transparent-bg;
  transition: all 0.3s ease-in-out;

  > h5 {
    font-family: $montserrat;
    text-transform: uppercase;
    font-weight: bold;
  }

  > p {
    font-family: $montserrat;
  }

  > button {
    > mat-icon {
      color: $cyan-color;
    }
  }
}

.project-image-container:hover .project-informations {
  animation: fadeIn 0.5s ease 0s 1 normal forwards;
  transform: scale(1.5);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  backdrop-filter: blur(5px);
}

.project-image-container:not(:hover) .project-informations {
  animation: fadeIn 1s ease 0s 1 normal reverse;
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}

.example-card {
  display: flex;
  justify-content: space-evenly;
  height: 50%;
  border-radius: 0;
}

////////// contact section //////////
///
///
@media screen and (max-width: 1210px) {
  mat-form-field {
    width: 60% !important;
  }
}

@media screen and (max-width: 550px) {
  mat-form-field {
    width: 90% !important;
  }
  #form-content {
    > img {
      display: none;
    }
  }
  #contact-header {
    width: 90%;
  }
}
#contact-container {
  position: relative;
  padding-top: 5rem;
  padding-bottom: 1rem;
  text-align: center;
  background-color: $contact-background;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 2rem;
}

#contact-header {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  > h3 {
    font-family: $montserrat;
    text-transform: uppercase;
    font-weight: bold;
  }

  > p {
    > span {
      color: $cyan-color;
      font-weight: bold;
    }
  }
}

#form-content {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  > mat-form-field {
    width: 30%;
  }

  > img {
    position: fixed;
    bottom: -10%;
    height: 20%;
  }
}

textarea {
  resize: none;
}

#footer-section {
  margin-top: 3rem;
  > a {
    color: $cyan-color;
  }
}

#blob-avatar {
  border: none !important;
  background-color: transparent;
  z-index: -1;
}
