<app-snow></app-snow>
<div id="container">
  <div id="page-up-arrow" *ngIf="isVisible" (click)="scrollToTop()">
    <button mat-icon-button><mat-icon>keyboard_arrow_up</mat-icon></button>
  </div>
  <nav id="nav-element">
    <div id="nav-logo">
      <button id="home-button" (click)="scrollToElement('container')">
        <mat-icon>code</mat-icon>
      </button>
      <div id="logo-name">Roland</div>
    </div>
    <div id="nav-buttons">
      <button mat-button (click)="scrollToElement('hero')">About</button>
      <button mat-button (click)="scrollToElement('skills-container')">
        Skills
      </button>
      <button mat-button (click)="scrollToElement('projects-container')">
        Projects
      </button>
      <button mat-button (click)="scrollToElement('contact-container')">
        Contact
      </button>
    </div>
    <div id="hamburger-menu">
      <mat-icon id="menu-icon" (click)="openBottomSheet()">menu</mat-icon>
    </div>
  </nav>

  <div *ngIf="scrollIsVisible" class="arrow-scroll delayed">
    <div class="arrow"></div>
    <div class="arrow"></div>
    <div class="arrow"></div>
  </div>

  <div id="hero">
    <div id="hero-content-left" class="hidden" appObserve>
      <h1>Hi, I am <span>Roland.</span></h1>
      <h3>Fullstack Developer.</h3>
      <p>
        I am a passionate full-stack developer, embarking on an exciting journey
        in this dynamic and ever-evolving field. With a mind full of ideas and a
        relentless curiosity, I am eager to bring creative concepts to life and
        solve real-world challenges through code. My enthusiasm lies in crafting
        seamless, user-friendly applications that deliver exceptional
        experiences, whether on the front end or back end. <br />
        <br>Driven by a commitment to continuous learning and self-improvement, I
        embrace every opportunity to enhance my skills and stay ahead in this
        fast-paced industry. My goal is to build impactful solutions that not
        only meet user needs but also exceed expectations.
      </p>
      <div id="hero-bottom-section">
        <div class="bottom-element">
          <mat-icon>place</mat-icon><span>Hungary</span>
        </div>
        <div class="bottom-element">
          <div class="pulse"></div>
          <span>Available</span>
        </div>
      </div>
    </div>

    <div id="hero-cv-content" class="hidden" appObserve>
      <div id="blob">
        <!-- <img id="hero-avatar" src="/images/200w.gif" alt="avatar" /> -->
        <a href="/resume/RR_dev_cv_eng_25.pdf" download>
          <button mat-flat-button>
            Download CV <mat-icon>file_download</mat-icon>
          </button>
        </a>
      </div>
    </div>
    <div id="hero-socials" class="hidden" appObserve>
      <a href="https://discord.com/users/384814210829516810" target="_blank"
        ><i class="bi bi-discord"></i
      ></a>
      <a href="https://www.linkedin.com/in/roland-rokszin/" target="_blank"
        ><i class="bi bi-linkedin"></i
      ></a>
      <a href="https://github.com/Vestels" target="_blank"
        ><i class="bi bi-github"></i
      ></a>
    </div>
  </div>

  <div id="skills-container">
    <div class="image-container hidden" appObserve>
      <img class="avatar-image" src="/images/skills.png" alt="skills-icon" />
    </div>
    <h3 class="hidden" appObserve><span>Skills</span> I am proficient in</h3>
    <div id="skills" class="hidden" appObserve>
      <div class="skill">
        <img src="/logos/angular.png" alt="angular" />
        <span>Angular</span>
      </div>
      <div class="skill">
        <img src="/logos/bootstrap.png" alt="bootstrap" />
        <span>Bootstrap</span>
      </div>
      <div class="skill">
        <img src="/logos/css2.png" alt="css" />
        <span>CSS</span>
      </div>
      <div class="skill">
        <img src="/logos/firebase.png" alt="firebase" />
        <span>Firebase</span>
      </div>
      <div class="skill">
        <img src="/logos/git.png" alt="git" />
        <span>Git</span>
      </div>
      <div class="skill">
        <img src="/logos/html2.png" alt="html" />
        <span>HTML</span>
      </div>
      <div class="skill">
        <img src="/logos/js.png" alt="js" />
        <span>JavaScript</span>
      </div>
      <div class="skill">
        <img src="/logos/mongodb.png" alt="mongodb" />
        <span>MongoDB</span>
      </div>
      <div class="skill">
        <img src="/logos/node.png" alt="nodejs" />
        <span>NodeJS</span>
      </div>
      <div class="skill">
        <img src="/logos/ts.png" alt="typescript" />
        <span>TypeScript</span>
      </div>
      <div class="skill">
        <img src="/logos/sass.png" alt="sass" />
        <span>SASS / SCSS</span>
      </div>
      <div class="skill">
        <img src="/logos/adobeillustrator.png" alt="adobeillustrator" />
        <span>Adobe<br />Illustrator</span>
      </div>
      <div class="skill">
        <img src="/logos/express.png" alt="express" />
        <span>Express</span>
      </div>
      <div class="skill">
        <img src="/logos/material.png" alt="material" />
        <span>Angular<br />Material</span>
      </div>
      <div class="skill">
        <img src="/logos/Nest.js.png" alt="nestjs" />
        <span>NestJS</span>
      </div>
      <div class="skill">
        <img src="/logos/Socket.io.png" alt="nestjs" />
        <span>Socket.io</span>
      </div>
      <div class="skill">
        <img src="/logos/Svelte.png" alt="nestjs" />
        <span>Svelte</span>
      </div>
      <div class="skill">
        <img src="/logos/TailwindCSS.png" alt="nestjs" />
        <span>Tailwind CSS</span>
      </div>
      <div class="skill">
        <img src="/logos/PostgresSQL.png" alt="postgressql" />
        <span>Postgres SQL</span>
      </div>
    </div>
  </div>

  <div id="projects-container">
    <div id="projects-header">
      <div class="image-container hidden project-avatar" appObserve>
        <img
          class="avatar-image"
          src="/images/projects.png"
          alt="projects-icon"
        />
      </div>
      <h3 class="hidden" appObserve>My recent <span>Projects</span></h3>
      <p class="hidden" appObserve>
        I'm waiting for collaborations to bring projects to life, and yours
        could be featured here too!
      </p>
      <p class="hidden" appObserve>
        <i
          >for personal projects please check out my
          <a href="https://github.com/Vestels" target="_blank"
            ><i class="bi bi-github"></i></a
        ></i>
      </p>
    </div>

    <div id="projects-content" class="hidden" appObserve>
      <div class="project">
        <div class="project-image-container">
          <div class="project-informations">
            <h5>Project Name</h5>
            <p>Project Description.</p>
            <button mat-icon-button>
              <mat-icon>open_in_new</mat-icon>
            </button>
          </div>
        </div>
        <mat-card class="project-card" appearance="outlined">
          <mat-card-header>
            <div mat-card-avatar class="card-pfp"></div>
            <mat-card-title>Roland</mat-card-title>
            <mat-card-subtitle>Junior Fullstack Developer</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi
              officiis, rem quo amet vitae sequi adipisci aliquid? Eos facilis
              natus, eaque ad quisquam laborum exercitationem aliquid ea
              voluptatibus iusto rem officiis perspiciatis sint modi quas
              ratione nobis omnis, dolor dicta recusandae reiciendis magni
              maxime numquam.
            </p>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="project">
        <div class="project-image-container">
          <div class="project-informations">
            <h5>Project Name</h5>
            <p>Project Description.</p>
            <button mat-icon-button>
              <mat-icon>open_in_new</mat-icon>
            </button>
          </div>
        </div>
        <mat-card class="project-card" appearance="outlined">
          <mat-card-header>
            <div mat-card-avatar class="card-pfp"></div>
            <mat-card-title>Roland</mat-card-title>
            <mat-card-subtitle>Junior Fullstack Developer</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet,
              sed mollitia quas laudantium laborum nihil eveniet tempora ad?
              Nemo, neque nobis ad veniam aperiam alias illum sunt suscipit
              laborum ipsa ducimus, similique possimus debitis aliquam ipsam
              assumenda tempore hic beatae voluptate voluptatum fugiat
              accusamus? Labore quibusdam ex doloremque laborum omnis, ad
              perferendis impedit! Adipisci sequi id consequatur dolorum,
              excepturi aspernatur!
            </p>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="project">
        <div class="project-image-container" id="todo">
          <div class="project-informations">
            <h5>Project Name</h5>
            <p>Project Description.</p>
            <button mat-icon-button>
              <mat-icon>open_in_new</mat-icon>
            </button>
          </div>
        </div>
        <mat-card class="project-card" appearance="outlined">
          <mat-card-header>
            <div mat-card-avatar class="card-pfp"></div>
            <mat-card-title>Roland</mat-card-title>
            <mat-card-subtitle>Junior Fullstack Developer</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia
              distinctio obcaecati repellat magni ab ipsa necessitatibus aliquam
              consequatur maiores iste incidunt iusto blanditiis, ratione natus
              recusandae hic tempora fugit illo alias ad perferendis, eveniet
              assumenda, delectus voluptatem? Reiciendis repudiandae inventore
              modi commodi iste soluta fuga, nobis pariatur cum nisi amet?
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>

  <div id="contact-container">
    <div class="image-container hidden" appObserve>
      <img class="avatar-image" src="/images/email.png" alt="email-icon" />
    </div>
    <div id="contact-header" class="hidden" appObserve>
      <h3>Get in Touch</h3>
      <p>
        <span>Have questions or ideas to share?</span> Reach out, and let’s
        create something amazing together.
      </p>
    </div>
    <div id="form-content" class="hidden" appObserve>
      <mat-form-field appearance="outline">
        <mat-label>E-mail</mat-label>
        <input
          name="email"
          [(ngModel)]="emailInput"
          matInput
          placeholder="example@example.com"
          [formControl]="email"
          required
        />
        @if (email.invalid) {
        <mat-error>E-mail is incorrect!</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Subject</mat-label>
        <input
          name="name"
          [(ngModel)]="subjectInput"
          matInput
          [formControl]="subject"
          required
        />
        @if (subject.invalid) {
        <mat-error>Please enter the subject!</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Your Message</mat-label>
        <textarea
          name="message"
          [(ngModel)]="messageInput"
          rows="10"
          matInput
          [formControl]="message"
          required
        ></textarea>

        @if (message.invalid) {
        <mat-error>Please enter your message!</mat-error>
        }
      </mat-form-field>
      <img
        id="paperplane"
        src="/images/paperplane.png"
        alt="paperplane"
        class="hidden"
        appObserve
      />
      <button type="submit" mat-flat-button (click)="openEmailClient()">
        Send E-mail <mat-icon>send</mat-icon>
      </button>
    </div>
    <span id="footer-section">
      <div id="footer-links">
        <div>
          <a href="https://discord.com/users/384814210829516810" target="_blank"
            ><i class="bi bi-discord"></i
          ></a>
          <a href="https://www.linkedin.com/in/roland-rokszin/" target="_blank"
            ><i class="bi bi-linkedin"></i
          ></a>
          <a href="https://github.com/Vestels" target="_blank"
            ><i class="bi bi-github"></i
          ></a>
        </div>
        <div id="email">rokszinroland&#64;gmail.com</div>
      </div>
      &copy; 2024.
      <a id="author" href="https://github.com/Vestels" target="_blank"
        >Vestels</a
      >.</span
    >
  </div>
</div>
