<div id="container">
  <div id="page-up-arrow" *ngIf="isVisible" (click)="scrollToTop()">
    <button mat-icon-button><mat-icon>keyboard_arrow_up</mat-icon></button>
  </div>
  <nav id="nav-element">
    <div id="nav-logo">
      <button id="home-button" (click)="scrollToElement('container')">
        <mat-icon>code</mat-icon>
      </button>
      <div id="logo-name">Roland</div>
    </div>
    <div id="nav-buttons">
      <button mat-button (click)="scrollToElement('hero')">About</button>
      <button mat-button (click)="scrollToElement('skills-container')">
        Skills
      </button>
      <button mat-button (click)="scrollToElement('projects-container')">
        Projects
      </button>
      <button mat-button (click)="scrollToElement('contact-container')">
        Contact
      </button>
    </div>
    <div id="hamburger-menu">
      <mat-icon id="menu-icon" (click)="openBottomSheet()">menu</mat-icon>
    </div>
  </nav>

  <div *ngIf="scrollIsVisible" class="arrow-scroll delayed">
    <div class="arrow"></div>
    <div class="arrow"></div>
    <div class="arrow"></div>
  </div>

  <div id="hero">
    <div id="hero-content-left" class="hidden" appObserve>
      <h1>Hi, I am <span>Roland.</span></h1>
      <h3>Frontend Web Developer.</h3>
      <p>
        I am a passionate front-end developer, just starting my career in this
        exciting field. I'm brimming with ideas and eager to explore and
        implement them in real-world projects. My enthusiasm for creating
        intuitive, visually appealing, and user-friendly interfaces drives me to
        continuously learn and improve.
      </p>
      <div class="bottom-element">
        <mat-icon>place</mat-icon><span>Hungary</span>
      </div>
      <div class="bottom-element">
        <div class="pulse"></div>
        <span>Available for new projects</span>
      </div>
    </div>

    <div id="hero-cv-content" class="hidden" appObserve>
      <div id="blob">
        <a href="/resume/rokszin_roland_cv_eng.pdf" download>
          <button mat-flat-button>
            Download CV <mat-icon>file_download</mat-icon>
          </button>
        </a>
      </div>
    </div>
    <div id="hero-socials" class="hidden" appObserve>
      <a href="https://www.linkedin.com/in/roland-rokszin/" target="_blank"
        ><i class="bi bi-linkedin"></i
      ></a>
      <a href="https://github.com/Vestels" target="_blank"
        ><i class="bi bi-github"></i
      ></a>
    </div>
  </div>

  <div id="skills-container">
    <div class="image-container hidden" appObserve>
      <img class="avatar-image" src="/avatars/av5.png" alt="avatar" />
    </div>
    <h3 class="hidden" appObserve><span>Skills</span> I am proficient in</h3>
    <div id="skills" class="hidden" appObserve>
      <div class="skill">
        <img src="/logos/angular.png" alt="angular" />
        <span>Angular</span>
      </div>
      <div class="skill">
        <img src="/logos/bootstrap.png" alt="bootstrap" />
        <span>Bootstrap</span>
      </div>
      <div class="skill">
        <img src="/logos/css2.png" alt="css" />
        <span>CSS</span>
      </div>
      <div class="skill">
        <img src="/logos/firebase.png" alt="firebase" />
        <span>Firebase</span>
      </div>
      <div class="skill">
        <img src="/logos/git.png" alt="git" />
        <span>Git</span>
      </div>
      <div class="skill">
        <img src="/logos/html2.png" alt="html" />
        <span>HTML</span>
      </div>
      <div class="skill">
        <img src="/logos/js.png" alt="js" />
        <span>JavaScript</span>
      </div>
      <div class="skill">
        <img src="/logos/mongodb.png" alt="mongodb" />
        <span>MongoDB</span>
      </div>
      <div class="skill">
        <img src="/logos/node.png" alt="nodejs" />
        <span>NodeJS</span>
      </div>
      <div class="skill">
        <img src="/logos/ts.png" alt="typescript" />
        <span>TypeScript</span>
      </div>
      <div class="skill">
        <img src="/logos/sass.png" alt="sass" />
        <span>SASS / SCSS</span>
      </div>
      <div class="skill">
        <img src="/logos/adobeillustrator.png" alt="adobeillustrator" />
        <span>Adobe<br />Illustrator</span>
      </div>
      <div class="skill">
        <img src="/logos/express.png" alt="express" />
        <span>Express</span>
      </div>
      <div class="skill">
        <img src="/logos/material.png" alt="material" />
        <span>Angular<br />Material</span>
      </div>
    </div>
  </div>

  <div id="projects-container">
    <div id="projects-header">
      <div class="image-container hidden project-avatar" appObserve>
        <img class="avatar-image" src="/avatars/av8.png" alt="avatar" />
      </div>
      <h3 class="hidden" appObserve>My recent <span>Projects</span></h3>
      <p class="hidden" appObserve>
        I'm waiting for collaborations to bring projects to life, and yours
        could be featured here too!
      </p>
      <p class="hidden" appObserve>
        <i
          >for personal projects please check out my
          <a href="https://github.com/Vestels" target="_blank"
            ><i class="bi bi-github"></i></a
        ></i>
      </p>
    </div>

    <div id="projects-content" class="hidden" appObserve>
      <div class="project">
        <div class="project-image-container">
          <div class="project-informations">
            <h5>Project name</h5>
            <p>This is an example description to the project.</p>
            <button mat-icon-button>
              <mat-icon>open_in_new</mat-icon>
            </button>
          </div>
        </div>
        <mat-card class="example-card" appearance="outlined">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct
              spitz breeds of dog from Japan. A small, agile dog that copes very
              well with mountainous terrain, the Shiba Inu was originally bred
              for hunting.
            </p>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="project">
        <div class="project-image-container">
          <div class="project-informations">
            <h5>Project name</h5>
            <p>This is an example description to the project.</p>
            <button mat-icon-button>
              <mat-icon>open_in_new</mat-icon>
            </button>
          </div>
        </div>
        <mat-card class="example-card" appearance="outlined">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct
              spitz breeds of dog from Japan. A small, agile dog that copes very
              well with mountainous terrain, the Shiba Inu was originally bred
              for hunting.
            </p>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="project">
        <div class="project-image-container">
          <div class="project-informations">
            <h5>Project name</h5>
            <p>This is an example description to the project.</p>
            <button mat-icon-button>
              <mat-icon>open_in_new</mat-icon>
            </button>
          </div>
        </div>
        <mat-card class="example-card" appearance="outlined">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct
              spitz breeds of dog from Japan. A small, agile dog that copes very
              well with mountainous terrain, the Shiba Inu was originally bred
              for hunting.
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>

  <div></div>

  <div id="contact-container">
    <div class="image-container hidden" appObserve>
      <img class="avatar-image" src="/avatars/av10.png" alt="avatar" />
    </div>
    <div id="contact-header" class="hidden" appObserve>
      <h3>Get in Touch</h3>
      <p>
        <span>Have questions or ideas to share?</span> Reach out, and let’s
        create something amazing together.
      </p>
    </div>
    <div id="form-content" class="hidden" appObserve>
      <mat-form-field appearance="outline">
        <mat-label>E-mail</mat-label>
        <input
          name="email"
          [(ngModel)]="emailInput"
          matInput
          placeholder="example@example.com"
          [formControl]="email"
          required
        />
        @if (email.invalid) {
        <mat-error>E-mail is incorrect!</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Subject</mat-label>
        <input
          name="name"
          [(ngModel)]="subjectInput"
          matInput
          [formControl]="subject"
          required
        />
        @if (subject.invalid) {
        <mat-error>Please enter the subject!</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Your Message</mat-label>
        <textarea
          name="message"
          [(ngModel)]="messageInput"
          rows="10"
          matInput
          [formControl]="message"
          required
        ></textarea>

        @if (message.invalid) {
        <mat-error>Please enter your message!</mat-error>
        }
      </mat-form-field>
      <img
        id="paperplane"
        src="/images/paperplane.png"
        alt="paperplane"
        class="hidden"
        appObserve
      />
      <button type="submit" mat-flat-button (click)="openEmailClient()">
        Send E-mail <mat-icon>send</mat-icon>
      </button>
    </div>
    <span id="footer-section">
      <div id="footer-links">
        <div>
          <a href="https://www.linkedin.com/in/roland-rokszin/" target="_blank"
            ><i class="bi bi-linkedin"></i
          ></a>
          <a href="https://github.com/Vestels" target="_blank"
            ><i class="bi bi-github"></i
          ></a>
      </div>
      <p id="email">rokszinroland&#64;gmail.com</p>
      </div>
      &copy; 2024. Made by
      <a id="author" href="https://github.com/Vestels" target="_blank">Vestels</a>.</span>
  </div>
</div>
