<div class="container">
  <h3>Adatvédelmi Szabályzat</h3>
  <p><strong>Hatálybalépés dátuma:</strong> [2025.01.27.]</p>
  <p>
    Az Ön adatvédelme fontos számunkra. Ez az Adatvédelmi Szabályzat elmagyarázza, hogyan gyűjtjük, használjuk és védjük meg az Ön személyes adatait, amikor meglátogatja weboldalunkat.
  </p>

  <h5>1. Az általunk gyűjtött információk</h5>
  <p>
    Azokat a személyes adatokat gyűjtjük, amelyeket közvetlenül Ön ad meg nekünk, például amikor kapcsolatfelvételi űrlapot tölt ki, vagy e-mailt küld nekünk. Ez magában foglalhatja nevét, e-mail címét, és minden más információt, amit megoszt velünk.
  </p>

  <h5>2. Hogyan használjuk fel az Ön adatait</h5>
  <p>
    Az általunk gyűjtött információkat arra használjuk, hogy válaszoljunk a kérdéseire, szolgáltatásokat nyújtsunk, vagy javítsuk a weboldal tartalmát és funkcionalitását. Személyes adatait nem osztjuk meg harmadik felekkel, kivéve, ha azt a törvény előírja.
  </p>

  <h5>3. Sütik</h5>
  <p>
    Előfordulhat, hogy sütiket használunk a weboldalunkon nyújtott élmény fokozása érdekében. A sütik olyan kis fájlok, amelyek az Ön eszközén tárolódnak, és segítenek megjegyezni a preferenciáit, így jobb felhasználói élményt biztosítanak. A sütik beállításait a böngészőjén keresztül kezelheti.
  </p>

  <h5>4. Adatbiztonság</h5>
  <p>
    Ésszerű intézkedéseket teszünk személyes adatai védelme érdekében, hogy megakadályozzuk az illetéktelen hozzáférést, módosítást vagy megsemmisítést. Az interneten történő adatátvitel azonban nem 100%-ban biztonságos.
  </p>

  <h5>5. Az Ön jogai</h5>
  <p>
    Ön jogosult hozzáférni, módosítani vagy törölni személyes adatait. Ha kérdése van, vagy aggályai merülnek fel az adataival kapcsolatban, kérjük, vegye fel velünk a kapcsolatot.
  </p>

  <h5>6. A jelen adatvédelmi szabályzat módosítása</h5>
  <p>
    Előfordulhat, hogy időről időre frissítjük ezt az adatvédelmi szabályzatot. A módosításokat ezen az oldalon tesszük közzé, az új dátum pedig a tetején kerül feltüntetésre.
  </p>

  <h5>7. Kapcsolatfelvétel</h5>
  <p>
    Ha kérdése van az adatvédelmi szabályzattal kapcsolatban, vagy arra vonatkozóan, hogyan kezeljük személyes adatait, kérjük, vegye fel velünk a kapcsolatot a következő e-mail címen:
    <a href="mailto:[rokszinroland@gmail.com]">[rokszinroland&#64;gmail.com]</a>.
  </p>
</div>
