<div class="container">
  <div class="impressum">
    <h2>Impressum</h2>

    <p>
      <strong>Owner:</strong><br />
      Roland Rokszin<br />
      Portfolio | Roland Rokszin
    </p>

    <p>
      <strong>Service Provided:</strong><br />
      Website Development
    </p>

    <p>
      <strong>Contact Information:</strong><br />
      Email:
      <a href="mailto:[rokszinroland@gmail.com]"
        >[rokszinroland&#64;gmail.com]</a
      ><br />
    </p>

    <p>
      <strong>Data Controller:</strong><br />
      Roland Rokszin
    </p>

    <p>
      <strong>Hosting Provider:</strong><br />
      Rackhost Zrt.<br />
      1132 Budapest, Victor Hugó utca 18-22.
    </p>
  </div>
</div>
