<div class="container">
  <div class="impressum">
    <h2>Impresszum</h2>

    <p>
      <strong>Tulajdonos:</strong><br />
      Rokszin Roland<br />
      Weboldal készítés | Rokszin Roland
    </p>

    <p>
      <strong>Szolgáltatás:</strong><br />
      Webfejlesztés
    </p>

    <p>
      <strong>Kapcsolati információk:</strong><br />
      E-mail:
      <a href="mailto:[rokszinroland@gmail.com]">[rokszinroland&#64;gmail.com]</a><br />
    </p>

    <p>
      <strong>Adatkezelő:</strong><br />
      Rokszin Roland
    </p>

    <p>
      <strong>Hosting szolgáltató:</strong><br />
      Rackhost Zrt.<br />
      1132 Budapest, Victor Hugó utca 18-22.
    </p>
  </div>
</div>
