<div class="container">
    <header>
        <h3>Terms and Conditions</h3>
      </header>
    
      <section>
        <h5>1. Service</h5>
        <p>This website offers web development services, including portfolio showcasing, website creation, and other related activities.</p>
      </section>
    
      <section>
        <h5>2. Contact</h5>
        <p>To request services or for inquiries, please contact us through the details provided on the website. Project details and pricing will be discussed via email.</p>
      </section>
    
      <section>
        <h5>3. Intellectual Property</h5>
        <p>All content on this website, including text, images, design, and other materials, is the property of the website operator unless otherwise stated. Use of content is only permitted with prior permission from the website operator.</p>
      </section>
    
      <section>
        <h5>4. Limitation of Liability</h5>
        <p>The information and services provided on this website are for informational purposes only. The website operator is not liable for any indirect, consequential, or other damages arising from the use of the content or services on this website.</p>
      </section>
    
      <section>
        <h5>5. Data Protection</h5>
        <p>The personal data provided through contact forms on the website will only be used for service delivery and communication purposes. Data processing is handled according to the <a routerLink="/privacy-policy">Privacy Policy</a>.</p>
      </section>
    
      <section>
        <h5>6. Payment and Pricing</h5>
        <p>Pricing for services is determined on a case-by-case basis. Project costs will be agreed upon via email.</p>
      </section>
    
      <section>
        <h5>7. Modifications</h5>
        <p>The website operator reserves the right to modify these terms and conditions at any time. Any updates will take effect as soon as they are published on the website.</p>
      </section>
    
      <section>
        <h5>8. Contact</h5>
        <p>If you have any questions regarding these Terms and Conditions, please contact us through the contact information available on the website.</p>
      </section>
</div>