<div class="container">
  <header>
      <h3>Általános Szerződési Feltételek</h3>
  </header>

  <section>
      <h5>1. Szolgáltatás</h5>
      <p>Ez a weboldal webfejlesztési szolgáltatásokat kínál, beleértve a portfólió bemutatást, weboldal készítést és egyéb kapcsolódó tevékenységeket.</p>
  </section>

  <section>
      <h5>2. Kapcsolat</h5>
      <p>Szolgáltatások igényléséhez vagy érdeklődéshez kérjük, vegye fel velünk a kapcsolatot az oldalon megadott elérhetőségek egyikén. A projekt részleteit és az árakat e-mailben egyeztetjük.</p>
  </section>

  <section>
      <h5>3. Szellemi Tulajdon</h5>
      <p>Az oldalon található minden tartalom, beleértve a szövegeket, képeket, dizájnt és egyéb anyagokat, a weboldal üzemeltetőjének tulajdonát képezi, kivéve, ha másként nincs feltüntetve. A tartalom felhasználása csak az üzemeltető előzetes engedélyével lehetséges.</p>
  </section>

  <section>
      <h5>4. Felelősség Korlátozása</h5>
      <p>Az ezen a weboldalon található információk és szolgáltatások tájékoztató jellegűek. A weboldal üzemeltetője nem vállal felelősséget semmilyen közvetett, következményes vagy egyéb kárért, amely a tartalom vagy szolgáltatások használatából eredhet.</p>
  </section>

  <section>
      <h5>5. Adatvédelem</h5>
      <p>A weboldalon keresztül megadott személyes adatokat kizárólag a szolgáltatás nyújtására és kommunikációra használjuk. Az adatkezelés a <a routerLink="/privacy-policy">Adatvédelmi Szabályzat</a> szerint történik.</p>
  </section>

  <section>
      <h5>6. Fizetés és Árazás</h5>
      <p>A szolgáltatások árazása esetről esetre változik. A projekt költségeit e-mailben egyeztetjük.</p>
  </section>

  <section>
      <h5>7. Módosítások</h5>
      <p>A weboldal üzemeltetője fenntartja a jogot, hogy bármikor módosítsa az Általános Szerződési Feltételeket. Bármilyen frissítés a weboldalon történő közzétételtől kezdve érvényes.</p>
  </section>

  <section>
      <h5>8. Kapcsolat</h5>
      <p>Ha kérdése van az Általános Szerződési Feltételekkel kapcsolatban, kérjük, vegye fel velünk a kapcsolatot a weboldalon található elérhetőségek egyikén.</p>
  </section>
</div>