html,
body {
  height: 100%;
  scrollbar-width:none;
}
body {
  margin: 0;
  font-family: "Kumbh Sans", sans-serif !important;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "YOPQ" 300;
}

img {
  pointer-events: none;
  -webkit-user-drag: none;
  -user-drag: none;
}

.from-left {
  opacity: 0;
  transform: translateX(-30%);
  transition: opacity 1s, transform 1s ease;
}

.from-right {
  opacity: 0;
  transform: translateX(30%);
  transition: opacity 1s, transform 1s ease;
}

.hidden {
  opacity: 0;
  transform: translateY(15%);
  transition: all 1s ease;
}

.show {
  opacity: 1;
  transform: translateY(0);
}