* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

html,
body {
  height: 100%;
  scrollbar-width:none;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif !important;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "YOPQ" 300;
}

img {
  pointer-events: none;
  -webkit-user-drag: none;
  -user-drag: none;
}

.hidden {
  opacity: .5;
  transform: scale(.95);
  filter: blur(5px);
  transition: all 1s;
}

.hidden-left {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-50%);
  transition: all 1s;
}

.hidden-right {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(50%);
  transition: all 1s;
}

.hidden-up {
  opacity: 0;
  filter: blur(5px);
  transform: translateY(-50%);
  transition: all 1s;
}

.hidden-down {
  opacity: 0;
  filter: blur(2px);
  transform: translateY(50%);
  transition: all 1s;
}

.show {
  opacity: 1;
  scale: 1;
  filter: blur(0);
  transform: translate(0);
}

@media(prefers-reduces-motion) {
  .hidden {
    transition: none;
  }
}