<!-- holiday effect -->
<!-- <app-snow></app-snow> -->

<div id="container">
  <div id="page-up-arrow" *ngIf="isVisible" (click)="scrollToTop()">
    <button mat-icon-button><mat-icon>keyboard_arrow_up</mat-icon></button>
  </div>

  <nav id="nav-element">
    <div id="nav-logo">
      <button id="home-button" (click)="scrollToElement('container')">
        <mat-icon>code</mat-icon>
      </button>
      <div id="logo-name">Roland</div>
    </div>
    <div id="nav-buttons">
      <button mat-button (click)="scrollToElement('hero')">Rólam</button>
      <button mat-button (click)="scrollToElement('skills-id')">
        Szolgáltatások
      </button>
      <button mat-button (click)="scrollToElement('projects-id')">
        Referenciák
      </button>
      <button mat-button (click)="scrollToElement('contact-id')">
        Kapcsolat
      </button>
    </div>
    <div id="hamburger-menu">
      <mat-icon id="menu-icon" (click)="openBottomSheet()">menu</mat-icon>
    </div>
  </nav>

  <div *ngIf="scrollIsVisible" class="arrow-scroll delayed">
    <div class="arrow"></div>
    <div class="arrow"></div>
    <div class="arrow"></div>
  </div>

  <div id="hero">
    
    <div id="hero-content-left">
      <h1 class="from-left" appObserve>
        Üdv, <span>Roland</span>vagyok.
      </h1>
      <h3 class="from-left" appObserve>Fullstack Developer.</h3>
      <p class="hidden" appObserve>
        A célom, hogy segítsek neked egy olyan online jelenlétet létrehozni,
        amely igazán tükrözi a vállalkozásodat vagy ötletedet, és amely
        hatékonyan kommunikál a célcsoportoddal. <br />
        <br />A weboldal nemcsak egy digitális névjegykártya, hanem egy
        erőteljes eszköz is, amellyel kapcsolatba léphetsz a közönségeddel, és
        bizalmat építhetsz ki. Éppen ezért fontos, hogy a weboldalad ne csak
        esztétikus legyen, hanem jól működjön minden eszközön és minden
        helyzetben. <br>
        <br> Legyen szó egyszerű bemutatkozó oldalról vagy komplex,
        dinamikus alkalmazásokról, az én célom, hogy a legmagasabb minőségben és a
        legjobb megoldásokkal támogassam a sikered.
      </p>
    </div>

    <div id="hero-cv-content" class="from-right" appObserve>
      <div id="blob">
        <img src="/images/coding.png" alt="developer">
      </div>
    </div>

    <div id="hero-socials" class="hidden" appObserve>
      <a href="https://discord.com/users/384814210829516810" target="_blank"
        ><i class="bi bi-discord"></i
      ></a>
      <a href="https://www.linkedin.com/in/roland-rokszin/" target="_blank"
        ><i class="bi bi-linkedin"></i
      ></a>
      <a href="https://github.com/Vestels" target="_blank"
        ><i class="bi bi-github"></i
      ></a>
    </div>

  </div>

  <div id="skills-id"></div>

  <div id="skills-container">

    <div class="image-container">
      <img class="avatar-image" src="/images/helping.png" alt="skills-icon" />
    </div>

    <h3 class="hidden" appObserve><span>Ezekben</span> leszek segítségedre</h3>

    <div class="services">

      <div class="service from-left" appObserve>
        <img src="/services/menu.png" alt="menu">
        <div>
          <h5>Egyszerű landing page-ek készítése</h5>
          <p>Célorientált, letisztult oldalak, amelyek hatékonyan mutatják be a termékeket vagy szolgáltatásokat, és segítik az ügyfelek megszerzését.</p>
        </div>
      </div>
      <div class="service from-right" appObserve>
        <img src="/services/building.png" alt="building">
        <div>
          <h5>Kisebb bemutatkozó oldalak, portfóliók</h5>
          <p>Személyes vagy vállalati profiloldalak, amelyek professzionálisan mutatják be a munkáidat, szolgáltatásaidat és értékeidet.</p>
        </div>
      </div>
      <div class="service from-left" appObserve>
        <img src="/services/web.png" alt="web">
        <div>
          <h5>Statikus weboldalak szolgáltatások bemutatására</h5>
          <p>Gyorsan betöltődő, stabil oldalak, amelyek részletesen ismertetik a kínált szolgáltatásokat, egyszerű navigációval és modern dizájnnal.</p>
        </div>
      </div>
      <div class="service from-right" appObserve>
        <img src="/services/painting-tools.png" alt="painting-tools">
        <div>
          <h5>Egyedi weboldal készítés</h5>
          <p>Teljesen testreszabott weboldalak, amelyek tökéletesen illeszkednek az igényeidhez és céljaidhoz, modern megjelenéssel és funkcionalitással.</p>
        </div>
      </div>
      <div class="service from-left" appObserve>
        <img src="/services/seo.png" alt="SEO">
        <div>
          <h5>SEO optimalizálás</h5>
          <p>A weboldalad keresőmotor-barát kialakítása, hogy könnyebben megtalálható legyen a Google-ben és más keresőkben, ezzel növelve a látogatók számát.</p>
        </div>
      </div>
      <div class="service from-right" appObserve>
        <img src="/services/responsive.png" alt="Responsive">
        <div>
          <h5>Mobiloptimalizált design</h5>
          <p>Reszponzív weboldalak, amelyek minden eszközön (telefonon, tableten és asztali gépen) tökéletes élményt nyújtanak a felhasználóknak.</p>
        </div>
      </div>
      <div class="service from-left" appObserve>
        <img src="/services/maintenance.png" alt="Maintenance">
        <div>
          <h5>Karbantartás és frissítés</h5>
          <p>Rendszeres frissítések és hibajavítások, hogy a weboldalad mindig naprakész és biztonságos legyen.</p>
        </div>
      </div>
      <div class="service from-right" appObserve>
        <img src="/services/creative-process.png" alt="Creative-process">
        <div>
          <h5>Egyedi funkciók fejlesztése</h5>
          <p>Speciális igényekre szabott megoldások, mint például űrlapok, időpontfoglaló rendszerek vagy interaktív elemek fejlesztése.</p>
        </div>
      </div>
      <div class="service hidden" appObserve>
        <img src="/services/data-server.png" alt="Data-server">
        <div>
          <h5>Tárhely és domain ügyintézés</h5>
          <p>Teljes körű támogatás a domain név regisztrációban és a tárhely kiválasztásában, hogy minden technikai részlet gördülékenyen megoldódjon.</p>
        </div>
      </div>
      
    </div>

  </div>

  <div id="projects-id"></div>

  <div id="projects-container">
    <div id="projects-header">
      <h3 class="from-left" appObserve>Pár kiemelt <span>Projektem</span></h3>
      <p class="hidden" appObserve>
        Nyitott vagyok új együttműködésekre, hogy közösen valósíthassunk meg izgalmas projekteket!
      </p>
      <p class="hidden" appObserve>
        <i
          >A személyes projektekért kérlek látogasd meg a
          <a href="https://github.com/Vestels" target="_blank"
            ><i class="bi bi-github"></i></a
        ></i>
      </p>
    </div>

    <div id="projects-content">
      <div class="project hidden" appObserve>
        <div class="project-image-container">
          <div class="project-informations">
            <h5>A projekt neve</h5>
            <p>A projekt leírása.</p>
            <button mat-icon-button>
              <mat-icon>open_in_new</mat-icon>
            </button>
          </div>
        </div>
        <mat-card class="project-card" appearance="raised">
          <mat-card-header>
            <div mat-card-avatar class="card-pfp"></div>
            <mat-card-title>Roland</mat-card-title>
            <mat-card-subtitle>Fullstack Developer</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi
              officiis, rem quo amet vitae sequi adipisci aliquid? Eos facilis
              natus, eaque ad quisquam laborum exercitationem aliquid ea
              voluptatibus iusto rem officiis perspiciatis sint modi quas
              ratione nobis omnis, dolor dicta recusandae reiciendis magni
              maxime numquam.
            </p>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="project hidden" appObserve>
        <div class="project-image-container">
          <div class="project-informations">
            <h5>A projekt neve</h5>
            <p>A projekt leírása.</p>
            <button mat-icon-button>
              <mat-icon>open_in_new</mat-icon>
            </button>
          </div>
        </div>
        <mat-card class="project-card" appearance="raised">
          <mat-card-header>
            <div mat-card-avatar class="card-pfp"></div>
            <mat-card-title>Roland</mat-card-title>
            <mat-card-subtitle>Fullstack Developer</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet,
              sed mollitia quas laudantium laborum nihil eveniet tempora ad?
              Nemo, neque nobis ad veniam aperiam alias illum sunt suscipit
              laborum ipsa ducimus, similique possimus debitis aliquam ipsam
              assumenda tempore hic beatae voluptate voluptatum fugiat
              accusamus? Labore quibusdam ex doloremque laborum omnis, ad
              perferendis impedit! Adipisci sequi id consequatur dolorum,
              excepturi aspernatur!
            </p>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="project hidden" appObserve>
        <div class="project-image-container" id="todo">
          <div class="project-informations">
            <h5>A projekt neve</h5>
            <p>A projekt leírása.</p>
            <button mat-icon-button>
              <mat-icon>open_in_new</mat-icon>
            </button>
          </div>
        </div>
        <mat-card class="project-card" appearance="raised">
          <mat-card-header>
            <div mat-card-avatar class="card-pfp"></div>
            <mat-card-title>Roland</mat-card-title>
            <mat-card-subtitle>Fullstack Developer</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia
              distinctio obcaecati repellat magni ab ipsa necessitatibus aliquam
              consequatur maiores iste incidunt iusto blanditiis, ratione natus
              recusandae hic tempora fugit illo alias ad perferendis, eveniet
              assumenda, delectus voluptatem? Reiciendis repudiandae inventore
              modi commodi iste soluta fuga, nobis pariatur cum nisi amet?
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>

  <div id="contact-id"></div>

  <div id="contact-container">
    <div class="image-container">
      <img class="avatar-image" src="/images/mail-sent.png" alt="email-icon" />
    </div>
    <div id="contact-header" class="hidden" appObserve>
      <h3><span>Érdekel?</span><br>Küldj üzenetet</h3>
      <p>
        <span>Kérdéseid vannak, vagy ötleteid, amiket megosztanál?</span> Lépj kapcsolatba velem, és tedd meg az első lépést az online jelenlétedhez!
      </p>
    </div>
    <div id="form-content" class="hidden" appObserve>
      <mat-form-field appearance="outline">
        <mat-label>E-mail</mat-label>
        <input
          name="email"
          [(ngModel)]="emailInput"
          matInput
          placeholder="pelda@pelda.com"
          [formControl]="email"
          required
        />
        @if (email.invalid) {
        <mat-error>Az e-mail nem megfelelő!</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Tárgy</mat-label>
        <input
          name="name"
          [(ngModel)]="subjectInput"
          matInput
          [formControl]="subject"
          required
        />
        @if (subject.invalid) {
        <mat-error>Kérlek írd be a tárgyat!</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Üzenet</mat-label>
        <textarea
          name="message"
          [(ngModel)]="messageInput"
          rows="10"
          matInput
          [formControl]="message"
          required
        ></textarea>

        @if (message.invalid) {
        <mat-error>Kérlek írd be az üzeneted!</mat-error>
        }
      </mat-form-field>
      <img
        id="paperplane"
        src="/images/paperplane.png"
        alt="paperplane"
        class="hidden"
        appObserve
      />
      <button type="submit" mat-flat-button (click)="openEmailClient()">
        Küldés <mat-icon>send</mat-icon>
      </button>
    </div>

    <div id="footer-section">
      <div id="footer-links">
        <div>
          <a href="https://discord.com/users/384814210829516810" target="_blank"
            ><i class="bi bi-discord"></i
          ></a>
          <a href="https://www.linkedin.com/in/roland-rokszin/" target="_blank"
            ><i class="bi bi-linkedin"></i
          ></a>
          <a href="https://github.com/Vestels" target="_blank"
            ><i class="bi bi-github"></i
          ></a>
        </div>
        <div class="agreements">
          <a [routerLink]="['/weboldal-keszites/terms-and-conditions']">ÁSZF</a>
          <a [routerLink]="['/weboldal-keszites/privacy-policy']">Adatvédelmi Szabályzat</a>
          <a [routerLink]="['/weboldal-keszites/impressum']">Impresszum</a>
        </div>
      </div>
      <div id="email">rokszinroland&#64;gmail.com</div>
      Copyright &copy; 2025. Minden jog fenntartva.
      | rokszinroland.hu
    </div>
  </div>
</div>
