<!-- holiday effect -->
<!-- <app-snow></app-snow> -->

<div id="container">

  <!-- To Page up button -->
  <div id="page-up-arrow" *ngIf="isVisible" (click)="scrollToTop()">
    <button mat-icon-button><mat-icon>keyboard_arrow_up</mat-icon></button>
  </div>

  <!-- Navigation -->
  <nav id="nav-element">
    <div id="nav-logo">
      <button id="home-button" (click)="scrollToElement('container')">
        <mat-icon>code</mat-icon>
      </button>
      <div id="logo-name">Roland</div>
    </div>
    <div id="nav-buttons">
      <button mat-button (click)="scrollToElement('hero')">Hogy miért?</button>
      <button mat-button (click)="scrollToElement('services-id')">
        Szolgáltatások
      </button>
      <button mat-button (click)="scrollToElement('reference-id')">
        Referenciák
      </button>
      <button mat-button (click)="scrollToElement('contact-id')">
        Kapcsolat
      </button>
    </div>
    <div id="hamburger-menu">
      <mat-icon id="menu-icon" (click)="openBottomSheet()">menu</mat-icon>
    </div>
  </nav>




  <!-- Scrollable feedback -->
  <div *ngIf="scrollIsVisible" class="arrow-scroll delayed">
    <div class="arrow"></div>
    <div class="arrow"></div>
    <div class="arrow"></div>
  </div>




  <!-- Hero section -->
  <div id="hero">

      <div id="hero-content-left">
        <h1 class="from-left" appObserve>
          Professzionális Weboldalak
        </h1>
        <h2 class="from-left" appObserve>Egyedi Megoldások</h2>
        <h3 class="from-left" appObserve>Modern Technológiás Weboldal készítés</h3>
        <div class="hero-list">
          <div class="list-element hidden" appObserve>
            <mat-icon>fingerprint</mat-icon><strong>Hiteles online jelenlét</strong> – Egy professzionális weboldal erősíti a márkád hitelességét, bizalmat épít, és versenyelőnyt biztosít a digitális térben.
          </div>
          <div class="list-element hidden" appObserve>
            <mat-icon>trending_up</mat-icon><strong>Marketing és növekedési lehetőségek</strong> – A keresőoptimalizálás (SEO) és a digitális marketing eszközeivel új ügyfelekhez juthatsz, növelheted láthatóságodat és hosszú távon is skálázhatod vállalkozásodat.
          </div>
          <div class="list-element hidden" appObserve>
            <mat-icon>speed</mat-icon><strong>Modern technológiák és optimalizált teljesítmény</strong> – Reszponzív, gyors és biztonságos weboldalak a legújabb fejlesztési eszközökkel, hogy mindig naprakész és versenyképes maradj.
          </div>
        </div>
      </div>
  
      <div id="hero-content-right" class="from-right" appObserve>
        <div id="blob">
          <img src="/images/website.png" alt="Website Logo">
        </div>
      </div>
    
    <div id="hero-socials" class="hidden" appObserve>
      <a href="https://discord.com/users/384814210829516810" target="_blank"
        ><i class="bi bi-discord"></i
      ></a>
      <a href="https://www.linkedin.com/in/roland-rokszin/" target="_blank"
        ><i class="bi bi-linkedin"></i
      ></a>
      <a href="https://github.com/Vestels" target="_blank"
        ><i class="bi bi-github"></i
      ></a>
    </div>


  </div>




  <!-- Services Section -->
  <div id="services-id"></div>

  <div id="services-container">

    <div class="image-container">
      <img class="avatar-image" src="/images/services.png" alt="Services Logo" />
    </div>

    <!-- <h3>Teljeskörű <span>Szolgáltatások</span></h3> -->

    <!-- Services -->
    <div class="services">
      <div class="service from-left" appObserve>
        <div class="img-container">
          <img src="/services/web.png" alt="web">
        </div>
        <article>
          <h5>Statikus vagy Dinamikus weboldalak</h5>
          <p>Gyorsan betöltődő, stabil oldalak, amelyek részletesen ismertetik a kínált szolgáltatásokat, egyszerű navigációval és modern dizájnnal.</p>
        </article>
      </div>
      <div class="service from-right" appObserve>
        <div class="img-container">
          <img src="/services/creative-process.png" alt="Creative Process">
        </div>
        <article>
          <h5>Egyedi weboldal készítés</h5>
          <p>Teljesen testreszabott weboldalak, amelyek tökéletesen illeszkednek az igényeidhez és céljaidhoz, modern megjelenéssel és funkcionalitással.</p>
        </article>
      </div>
      <div class="service from-left" appObserve>
        <div class="img-container">
          <img src="/services/seo.png" alt="SEO">
        </div>
        <article>
          <h5>SEO optimalizálás</h5>
          <p>A weboldalad keresőmotor-barát kialakítása, hogy könnyebben megtalálható legyen a Google-ben és más keresőkben, ezzel növelve a látogatók számát.</p>
        </article>
      </div>
      <div class="service from-right" appObserve>
        <div class="img-container">
          <img src="/services/responsive.png" alt="Responsive">
        </div>
        <article>
          <h5>Mobiloptimalizált design</h5>
          <p>Reszponzív weboldalak, amelyek minden eszközön (telefonon, tableten és asztali gépen) tökéletes élményt nyújtanak a felhasználóknak.</p>
        </article>
      </div>
      <div class="service from-left" appObserve>
        <div class="img-container">
          <img src="/services/maintenance.png" alt="Maintenance">
        </div>
        <article>
          <h5>Karbantartás és frissítés</h5>
          <p>Rendszeres frissítések és hibajavítások, hogy a weboldalad mindig naprakész és biztonságos legyen.</p>
        </article>
      </div>
      <div class="service from-right" appObserve>
        <div class="img-container">
          <img src="/services/pie-chart.png" alt="Pie Chart">
        </div>
        <article>
          <h5>Integrált Analitika</h5>
          <p>Részletes látogatói statisztikák és felhasználói viselkedés elemzése, amelyek segítenek optimalizálni a weboldalt. Látogatók száma, forgalmi források, legnépszerűbb oldalak és interakciók nyomon követése a jobb felhasználói élmény érdekében.</p>
        </article>
      </div>
      <div class="service from-left" appObserve>
        <div class="img-container">
          <img src="/services/data-server.png" alt="Data Server">
        </div>
        <article>
          <h5>Tárhely és domain ügyintézés</h5>
          <p>Teljes körű támogatás a domain név regisztrációban és a tárhely kiválasztásában, hogy minden technikai részlet gördülékenyen megoldódjon.</p>
        </article>
      </div>
      <div class="service from-right" appObserve>
        <div class="img-container">
          <img src="/services/technology.png" alt="Technology">
        </div>
        <article>
          <h5>Egyszerű kezelhetőség és szerkesztési lehetőség</h5>
          <p>Modern, felhasználóbarát kezelőfelületet biztosítok, amely lehetővé teszi, hogy könnyedén frissítsd és szerkeszd weboldalad tartalmát később is, fejlesztői tudás nélkül.</p>
        </article>
      </div>
    </div>
  </div>




  <!-- References Section -->
  <div id="reference-id"></div>

  <div id="reference-container">
    <div class="reference-content">
      <div class="reference hidden" appObserve>
        <img src="/projects/mockup.png" alt="Website Mockup">
        <div class="reference-description">
          <div class="box-shadow">
            <h5>Weboldal neve</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus amet odit provident temporibus nostrum illo laborum, quas deserunt assumenda similique natus, voluptatem commodi voluptatum distinctio consequatur inventore, ex beatae veniam sint error nam. Alias eos autem culpa incidunt at accusamus vero veritatis odio? Maiores consequatur eius totam soluta corporis fugiat!</p>
            <button>Tovább az oldalra<mat-icon>desktop_windows</mat-icon></button>
          </div>
        </div>
      </div>
      <div class="reference hidden" appObserve>
        <div class="reference-description">
          <div class="box-shadow">
            <h5>Weboldal neve</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus amet odit provident temporibus nostrum illo laborum, quas deserunt assumenda similique natus, voluptatem commodi voluptatum distinctio consequatur inventore, ex beatae veniam sint error nam. Alias eos autem culpa incidunt at accusamus vero veritatis odio? Maiores consequatur eius totam soluta corporis fugiat!</p>
            <button>Tovább az oldalra<mat-icon>desktop_windows</mat-icon></button>
          </div>
        </div>
        <img src="/projects/mockup.png" alt="Website Mockup">
      </div>
      <div class="reference hidden" appObserve>
        <img src="/projects/mockup.png" alt="Website Mockup">
        <div class="reference-description">
          <div class="box-shadow">
            <h5>Weboldal neve</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus amet odit provident temporibus nostrum illo laborum, quas deserunt assumenda similique natus, voluptatem commodi voluptatum distinctio consequatur inventore, ex beatae veniam sint error nam. Alias eos autem culpa incidunt at accusamus vero veritatis odio? Maiores consequatur eius totam soluta corporis fugiat!</p>
            <button>Tovább az oldalra<mat-icon>desktop_windows</mat-icon></button>
          </div>
        </div>
      </div>
      <div class="reference hidden" appObserve>
        <div class="reference-description">
          <div class="box-shadow">
            <h5>Weboldal neve</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus amet odit provident temporibus nostrum illo laborum, quas deserunt assumenda similique natus, voluptatem commodi voluptatum distinctio consequatur inventore, ex beatae veniam sint error nam. Alias eos autem culpa incidunt at accusamus vero veritatis odio? Maiores consequatur eius totam soluta corporis fugiat!</p>
            <button>Tovább az oldalra<mat-icon>desktop_windows</mat-icon></button>
          </div>
        </div>
        <img src="/projects/mockup.png" alt="Website Mockup">
      </div>
    </div>

    <div class="aboutme my-5 opacity-50">
      "Segítek neked egy olyan online jelenlétet létrehozni,
      amely igazán tükrözi a vállalkozásodat vagy ötletedet, és amely
      hatékonyan kommunikál a célcsoportoddal.
      A weboldal nemcsak egy digitális névjegykártya, hanem egy
      erőteljes eszköz is, amellyel kapcsolatba léphetsz a közönségeddel, és
      bizalmat építhetsz ki. Éppen ezért fontos, hogy a weboldalad ne csak
      esztétikus legyen, hanem jól működjön minden eszközön és minden
      helyzetben.
      Legyen szó egyszerű bemutatkozó oldalról vagy komplex,
      dinamikus alkalmazásokról, a legmagasabb minőségben és a
      legjobb megoldásokkal támogatom a sikered.
      100%-ban személyre szabott, teljesen leprogramozott weboldalt kapsz, 
      CMS és egyéb low/no-code eszközök nélkül, így egyediséged maximálisan érvényesül, 
      és a weboldalad teljes mértékben a te igényeidhez igazodik."
    </div>

    <div class="prices w-100 mt-5 p-0 p-xxl-5 d-flex flex-column flex-lg-row gap-5 justify-content-center">
      <div class="pack p-4">
        <div class="header w-100 border-bottom">
          <h3><strong>Express</strong> csomag</h3>
          <h4>80.000 Ft</h4>
          <p class="opacity-75 my-3">Ez a csomag ideális választás induló vállalkozások és kisebb cégek számára, akik egy egyedi, modern, mobilbarát weboldalt szeretnének, de az alapfunkciók mellett nem igényelnek extrém összetett megoldásokat. A cél az egyszerűség és a hatékonyság ötvözése.</p>
        </div>
        <ul class="d-flex flex-column gap-2 my-3">
          <li>Egyedi, letisztult dizájn</li>
          <li>Mobiloptimalizálás</li>
          <li>Alapoldalak kialakítása (pl. Főoldal, Rólunk, Kapcsolat)</li>
          <li>Alap SEO beállítások</li>
          <li>Kapcsolati űrlap</li>
          <li>GDPR és süti-figyelmeztetés</li>
          <li>Gyors betöltési sebesség</li>
          <li>HTTPS titkosítás</li>
        </ul>
      </div>
      <div class="pack w-100 p-4">
        <div class="header w-100 border-bottom">
          <h3><strong>Business</strong> csomag</h3>
          <h4>150.000 Ft</h4>
          <p class="opacity-75 my-3">A Business csomag azoknak a vállalkozásoknak ajánlott, akiknek már összetettebb online jelenlétre van szükségük, és komplexebb, tartalomban gazdag weboldalt kívánnak.</p>
        </div>
        <ul class="d-flex flex-column gap-2 my-3">
          <li>Minden, amit az <strong>Express</strong> csomag kínál</li>
          <li>Bővített aloldal-struktúra</li>
          <li>Dinamikus tartalom és interaktív elemek</li>
          <li>Google Analytics</li>
          <li>Google Business Profile</li>
          <li>Haladó SEO</li>
          <li>Közösségi média integráció</li>
        </ul>
      </div>
      <div class="pack p-4">
        <div class="header w-100 border-bottom">
          <h3><strong>Enterprise</strong> csomag</h3>
          <h4>250.000 Ft</h4>
          <p class="opacity-75 my-3">A Premium csomag a legösszetettebb megoldást kínálja olyan ügyfelek számára, akik egy teljesen egyedi, nagyobb funkciókkal rendelkező weboldalt szeretnének, legyen szó akár komplex vállalati honlapról, akár integrált webshopról és online vevőszerző rendszerről.</p>
        </div>
        <ul class="d-flex flex-column gap-2 my-3">
          <li>Minden, amit a <strong>Business</strong> csomag kínál</li>
          <li>Teljesen egyedi dizájn és fejlesztés</li>
          <li>Komplex aloldal-struktúra</li>
          <li>Integrált e-kereskedelmi és kommunikációs rendszerek</li>
          <li>Haladó SEO stratégia és kulcsszókutatás</li>
          <li>Prémium biztonsági és karbantartási megoldások</li>
          <li>Folyamatos frissítés és karbantartás</li>
        </ul>
      </div>
    </div>

  </div>




  <!-- Contact Section -->
  <div id="contact-id"></div>

  <div id="contact-container">
    <div class="image-container">
      <img class="avatar-image" src="/images/email.png" alt="Email Logo" />
    </div>
    <div id="contact-header">
      <!-- <h3>Kapcsolati<span> űrlap</span></h3>    -->
      <p>
        <span>Kérdéseid vannak, vagy ötleteid, amiket megosztanál?</span><br>Írj egy e-mailt és 1 órán belül válaszolok rá!
      </p>
    </div>
      <form class="mb-5 d-flex flex-column align-items-center w-100 gap-3" #formDirective="ngForm" [formGroup]="contactForm" (ngSubmit)="onSendEmail($event)">
        <mat-form-field appearance="outline">
          <mat-label>E-mail</mat-label>
          <input
            name="email"
            matInput
            placeholder="pelda@pelda.com"
            formControlName="from"
            required
          />
          <mat-error *ngIf="contactForm.get('from')?.invalid || contactForm.get('from')?.touched">Az e-mail nem megfelelő!</mat-error>
        </mat-form-field>
  
        <mat-form-field appearance="outline">
          <mat-label>Tárgy</mat-label>
          <input
            name="subject"
            matInput
            formControlName="subject"
            required
          />
          <mat-error *ngIf="contactForm.get('subject')?.invalid || contactForm.get('subject')?.touched">Kérlek írd be a tárgyat!</mat-error>
        </mat-form-field>
  
        <mat-form-field appearance="outline">
          <mat-label>Üzenet</mat-label>
          <textarea
            name="message"
            rows="10"
            matInput
            formControlName="message"
            required
          ></textarea>
          <mat-error *ngIf="contactForm.get('message')?.invalid || contactForm.get('message')?.touched">Kérlek írd be az üzeneted!</mat-error>
        </mat-form-field>
        <button type="submit" mat-flat-button>
          Küldés <mat-icon>send</mat-icon>
        </button>
      </form>


      <div class="ratings p-4 d-flex flex-column flex-lg-row gap-5 my-5 align-items-center justify-content-center">
        <div class="rating w-100 h-100 rounded p-3 gap-4 d-flex flex-column align-items-center justify-content-between">
          <div class="header d-flex flex-column align-items-center gap-2">
            <div class="image rounded-circle d-flex align-items-center justify-content-center"><img src="/ratings/customer.png" alt="Client Image"></div>
            <span>Barátságos Ügyfél</span>
            <div class="stars"><mat-icon>star</mat-icon><mat-icon>star</mat-icon><mat-icon>star</mat-icon><mat-icon>star</mat-icon><mat-icon>star</mat-icon></div>
          </div>
          <p class="opacity-75">"Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab odit repellendus ad eius unde autem nam, doloremque animi dignissimos ea sequi accusamus enim minima natus nobis, beatae assumenda? Ipsam, esse fugit perspiciatis officiis eaque, commodi voluptatibus vero aliquam odit et dolore at harum recusandae nobis."</p>
        </div>
        <div class="rating w-100 h-100 rounded p-3 gap-4 d-flex flex-column align-items-center justify-content-between">
          <div class="header d-flex flex-column align-items-center gap-2">
            <div class="image rounded-circle d-flex align-items-center justify-content-center"><img src="/ratings/customer.png" alt="Client Image"></div>
            <span>Kevésbé Barátságos Ügyfél</span>
            <div class="stars"><mat-icon>star</mat-icon><mat-icon>star</mat-icon><mat-icon>star</mat-icon></div>
          </div>
          <p class="opacity-75">"Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt molestiae reprehenderit a necessitatibus et quod unde rerum atque vero dignissimos, nihil culpa exercitationem commodi inventore facere similique sed voluptatum ex. Labore, amet laborum deserunt asperiores recusandae molestiae fuga."</p>
        </div>
        <div class="rating w-100 h-100 rounded p-3 gap-4 d-flex flex-column align-items-center justify-content-between">
          <div class="header d-flex flex-column align-items-center gap-2">
            <div class="image rounded-circle d-flex align-items-center justify-content-center"><img src="/ratings/customer.png" alt="Client Image"></div>
            <span>Barátságos Ügyfél</span>
            <div class="stars"><mat-icon>star</mat-icon><mat-icon>star</mat-icon><mat-icon>star</mat-icon><mat-icon>star</mat-icon><mat-icon>star</mat-icon></div>
          </div>
          <p class="opacity-75">"Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore repellendus maiores corporis ut fugit temporibus velit, eius ullam accusantium sequi perferendis repudiandae vel veritatis? Eaque, voluptatum? Delectus, sequi hic. Porro beatae neque iure eligendi incidunt! Magni, velit. Officiis molestias repellat dolor eos."</p>
        </div>
      </div>


    <!-- Footer Section -->
    <div class="footer mt-5 d-flex flex-column gap-5 align-items-center justify-content-center">
      <div class="d-flex gap-5 px-5 px-md-2 w-100 flex-column flex-md-row align-items-start">
          <div class="d-flex flex-column align-items-start gap-2">
            <span>Hasznos</span>
            <a [routerLink]="['/weboldal-keszites/terms-and-conditions']">ÁSZF</a>
            <a [routerLink]="['/weboldal-keszites/impressum']">Impresszum</a>
            <a [routerLink]="['/weboldal-keszites/privacy-policy']">Adatvédelmi Szabályzat</a>
          </div>
          <div class="d-flex flex-column align-items-start gap-2">
            <span>Linkek</span>
            <a class="me-1" (click)="scrollToElement('hero')">Hogy miért?</a>
            <a class="me-1" (click)="scrollToElement('services-id')">Szolgáltatások</a>
            <a class="me-1" (click)="scrollToElement('reference-id')">Referenciák</a>
            <a class="me-1" (click)="scrollToElement('contact-id')">Kapcsolat</a>
          </div>
          <div class="d-flex gap-2 flex-column align-items-start">
            <span>Egyéb</span>
            <a href="https://discord.com/users/384814210829516810" target="_blank"
              ><i class="bi bi-discord"></i
            ></a>
            <a href="https://www.linkedin.com/in/roland-rokszin/" target="_blank"
              ><i class="bi bi-linkedin"></i
            ></a>
            <a href="https://github.com/Vestels" target="_blank"
              ><i class="bi bi-github"></i
            ></a>
          </div>
      </div>
      <div class="d-flex flex-column">
        <a href="mailto:[web@rokszinroland.hu]">web&#64;rokszinroland.hu</a>
        Copyright &copy; 2025. Minden jog fenntartva.
        | rokszinroland.hu
      </div>
    </div>
  </div>


  <div *ngIf="message" [ngClass]="messageType" class="message d-flex gap-2">
    <mat-icon>{{messageIcon}}</mat-icon>{{message}}
  </div>
  
</div>
