<!-- holiday effect -->
<!-- <app-snow></app-snow> -->

<div id="container">


  <!-- <div class="contact-top">
    <span class="d-flex w-100 mx-1 mx-lg-5 flex-column flex-sm-row gap-1 gap-sm-5 p-2">
      <a href="tel:+36205175645"><mat-icon>call</mat-icon>+36 20 / 517- 5645</a>
      <a href="mailto:rokszinroland@gmail.com"><mat-icon>alternate_email</mat-icon>rokszinroland&#64;gmail.com</a>
    </span>
    <div></div>
  </div> -->

  <!-- To Page up button -->
  <div id="page-up-arrow" *ngIf="isVisible" (click)="scrollToTop()">
    <button mat-icon-button><mat-icon>keyboard_arrow_up</mat-icon></button>
  </div>

  <!-- Navigation -->
  <nav id="nav-element">
    <div id="nav-logo">
      <button id="home-button" (click)="scrollToElement('container')">
        <mat-icon>code</mat-icon>
      </button>
      <div id="logo-name">Roland</div>
    </div>
    <div id="nav-buttons">
      <button mat-button (click)="scrollToElement('hero')">Hogy miért?</button>
      <button mat-button (click)="scrollToElement('services-id')">
        Szolgáltatások
      </button>
      <button mat-button (click)="scrollToElement('reference-id')">
        Referenciák
      </button>
      <button mat-button (click)="scrollToElement('contact-id')">
        Kapcsolat
      </button>
    </div>
    <div id="hamburger-menu">
      <mat-icon id="menu-icon" (click)="openBottomSheet()">menu</mat-icon>
    </div>
  </nav>




  <!-- Scrollable feedback -->
  <div *ngIf="scrollIsVisible" class="arrow-scroll delayed">
    <div class="arrow"></div>
    <div class="arrow"></div>
    <div class="arrow"></div>
  </div>




  <!-- Hero section -->
  <div id="hero">
    
    <div id="hero-content-left">
      <h1 class="from-left" appObserve>
        Professzionális Weboldalak
      </h1>
      <h2 class="from-left" appObserve>Egyedi Megoldások</h2>
      <h3 class="from-left" appObserve>Modern Technológiás Weboldal készítés</h3>
      <div class="hero-list">
        <div class="list-element hidden" appObserve>
          <mat-icon>fingerprint</mat-icon><strong>Hiteles online jelenlét</strong> – Egy professzionális weboldal erősíti a márkád hitelességét, bizalmat épít, és versenyelőnyt biztosít a digitális térben.
        </div>
        <div class="list-element hidden" appObserve>
          <mat-icon>trending_up</mat-icon><strong>Marketing és növekedési lehetőségek</strong> – A keresőoptimalizálás (SEO) és a digitális marketing eszközeivel új ügyfelekhez juthatsz, növelheted láthatóságodat és hosszú távon is skálázhatod vállalkozásodat.
        </div>
        <div class="list-element hidden" appObserve>
          <mat-icon>speed</mat-icon><strong>Modern technológiák és optimalizált teljesítmény</strong> – Reszponzív, gyors és biztonságos weboldalak a legújabb fejlesztési eszközökkel, hogy mindig naprakész és versenyképes maradj.
        </div>
      </div>
    </div>

    <div id="hero-content-right" class="from-right" appObserve>
      <div id="blob">
        <img src="/images/coding.png" alt="developer">
      </div>
    </div>

    <div id="hero-socials" class="hidden" appObserve>
      <a href="https://discord.com/users/384814210829516810" target="_blank"
        ><i class="bi bi-discord"></i
      ></a>
      <a href="https://www.linkedin.com/in/roland-rokszin/" target="_blank"
        ><i class="bi bi-linkedin"></i
      ></a>
      <a href="https://github.com/Vestels" target="_blank"
        ><i class="bi bi-github"></i
      ></a>
    </div>

  </div>




  <!-- Services Section -->
  <div id="services-id"></div>

  <div id="services-container">

    <div class="image-container">
      <img class="avatar-image" src="/images/helping.png" alt="skills-icon" />
    </div>

    <!-- <h3>Teljeskörű <span>Szolgáltatások</span></h3> -->

    <!-- Services -->
    <div class="services">
      <div class="service from-left" appObserve>
        <div class="img-container">
          <img src="/services/web.png" alt="web">
        </div>
        <article>
          <h5>Statikus vagy Dinamikus weboldalak</h5>
          <p>Gyorsan betöltődő, stabil oldalak, amelyek részletesen ismertetik a kínált szolgáltatásokat, egyszerű navigációval és modern dizájnnal.</p>
        </article>
      </div>
      <div class="service from-right" appObserve>
        <div class="img-container">
          <img src="/services/creative-process.png" alt="Creative Process">
        </div>
        <article>
          <h5>Egyedi weboldal készítés</h5>
          <p>Teljesen testreszabott weboldalak, amelyek tökéletesen illeszkednek az igényeidhez és céljaidhoz, modern megjelenéssel és funkcionalitással.</p>
        </article>
      </div>
      <div class="service from-left" appObserve>
        <div class="img-container">
          <img src="/services/seo.png" alt="SEO">
        </div>
        <article>
          <h5>SEO optimalizálás</h5>
          <p>A weboldalad keresőmotor-barát kialakítása, hogy könnyebben megtalálható legyen a Google-ben és más keresőkben, ezzel növelve a látogatók számát.</p>
        </article>
      </div>
      <div class="service from-right" appObserve>
        <div class="img-container">
          <img src="/services/responsive.png" alt="Responsive">
        </div>
        <article>
          <h5>Mobiloptimalizált design</h5>
          <p>Reszponzív weboldalak, amelyek minden eszközön (telefonon, tableten és asztali gépen) tökéletes élményt nyújtanak a felhasználóknak.</p>
        </article>
      </div>
      <div class="service from-left" appObserve>
        <div class="img-container">
          <img src="/services/maintenance.png" alt="Maintenance">
        </div>
        <article>
          <h5>Karbantartás és frissítés</h5>
          <p>Rendszeres frissítések és hibajavítások, hogy a weboldalad mindig naprakész és biztonságos legyen.</p>
        </article>
      </div>
      <div class="service from-right" appObserve>
        <div class="img-container">
          <img src="/services/pie-chart.png" alt="Pie Chart">
        </div>
        <article>
          <h5>Integrált Analitika</h5>
          <p>Részletes látogatói statisztikák és felhasználói viselkedés elemzése, amelyek segítenek optimalizálni a weboldalt. Látogatók száma, forgalmi források, legnépszerűbb oldalak és interakciók nyomon követése a jobb felhasználói élmény érdekében.</p>
        </article>
      </div>
      <div class="service from-left" appObserve>
        <div class="img-container">
          <img src="/services/data-server.png" alt="Data Server">
        </div>
        <article>
          <h5>Tárhely és domain ügyintézés</h5>
          <p>Teljes körű támogatás a domain név regisztrációban és a tárhely kiválasztásában, hogy minden technikai részlet gördülékenyen megoldódjon.</p>
        </article>
      </div>
      <div class="service from-right" appObserve>
        <div class="img-container">
          <img src="/services/technology.png" alt="Technology">
        </div>
        <article>
          <h5>Egyszerű kezelhetőség és szerkesztési lehetőség</h5>
          <p>Modern, felhasználóbarát kezelőfelületet biztosítok, amely lehetővé teszi, hogy könnyedén frissítsd és szerkeszd weboldalad tartalmát később is, fejlesztői tudás nélkül.</p>
        </article>
      </div>
    </div>
  </div>




  <!-- References Section -->
  <div id="reference-id"></div>

  <div id="reference-container">
    <div class="reference-content">
      <div class="reference from-left" appObserve>
        <img src="/projects/mockup.png" alt="Website Mockup">
        <div class="reference-description">
          <div class="box-shadow">
            <h5>Weboldal neve</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus amet odit provident temporibus nostrum illo laborum, quas deserunt assumenda similique natus, voluptatem commodi voluptatum distinctio consequatur inventore, ex beatae veniam sint error nam. Alias eos autem culpa incidunt at accusamus vero veritatis odio? Maiores consequatur eius totam soluta corporis fugiat!</p>
            <button>Tovább az oldalra<mat-icon>desktop_windows</mat-icon></button>
          </div>
        </div>
      </div>
      <div class="reference from-right" appObserve>
        <div class="reference-description">
          <div class="box-shadow">
            <h5>Weboldal neve</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus amet odit provident temporibus nostrum illo laborum, quas deserunt assumenda similique natus, voluptatem commodi voluptatum distinctio consequatur inventore, ex beatae veniam sint error nam. Alias eos autem culpa incidunt at accusamus vero veritatis odio? Maiores consequatur eius totam soluta corporis fugiat!</p>
            <button>Tovább az oldalra<mat-icon>desktop_windows</mat-icon></button>
          </div>
        </div>
        <img src="/projects/mockup.png" alt="Website Mockup">
      </div>
      <div class="reference from-left" appObserve>
        <img src="/projects/mockup.png" alt="Website Mockup">
        <div class="reference-description">
          <div class="box-shadow">
            <h5>Weboldal neve</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus amet odit provident temporibus nostrum illo laborum, quas deserunt assumenda similique natus, voluptatem commodi voluptatum distinctio consequatur inventore, ex beatae veniam sint error nam. Alias eos autem culpa incidunt at accusamus vero veritatis odio? Maiores consequatur eius totam soluta corporis fugiat!</p>
            <button>Tovább az oldalra<mat-icon>desktop_windows</mat-icon></button>
          </div>
        </div>
      </div>
      <div class="reference from-right" appObserve>
        <div class="reference-description">
          <div class="box-shadow">
            <h5>Weboldal neve</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus amet odit provident temporibus nostrum illo laborum, quas deserunt assumenda similique natus, voluptatem commodi voluptatum distinctio consequatur inventore, ex beatae veniam sint error nam. Alias eos autem culpa incidunt at accusamus vero veritatis odio? Maiores consequatur eius totam soluta corporis fugiat!</p>
            <button>Tovább az oldalra<mat-icon>desktop_windows</mat-icon></button>
          </div>
        </div>
        <img src="/projects/mockup.png" alt="Website Mockup">
      </div>
    </div>

    <div class="aboutme my-3 opacity-50">
      "A célom, hogy segítsek neked egy olyan online jelenlétet létrehozni,
      amely igazán tükrözi a vállalkozásodat vagy ötletedet, és amely
      hatékonyan kommunikál a célcsoportoddal.
      A weboldal nemcsak egy digitális névjegykártya, hanem egy
      erőteljes eszköz is, amellyel kapcsolatba léphetsz a közönségeddel, és
      bizalmat építhetsz ki. Éppen ezért fontos, hogy a weboldalad ne csak
      esztétikus legyen, hanem jól működjön minden eszközön és minden
      helyzetben.
      Legyen szó egyszerű bemutatkozó oldalról vagy komplex,
      dinamikus alkalmazásokról, a legmagasabb minőségben és a
      legjobb megoldásokkal támogatom a sikered."
    </div>

  </div>




  <!-- Contact Section -->
  <div id="contact-id"></div>

  <div id="contact-container">
    <div class="image-container">
      <img class="avatar-image" src="/images/email-icon.png" alt="email-icon" />
    </div>
    <div id="contact-header">
      <!-- <h3>Kapcsolati<span> űrlap</span></h3>    -->
      <p>
        <span>Kérdéseid vannak, vagy ötleteid, amiket megosztanál?</span><br>Írj egy e-mailt és 1 órán belül válaszolok rá!
      </p>
    </div>
    <div id="form-content" class="hidden" appObserve>
      <mat-form-field appearance="outline">
        <mat-label>E-mail</mat-label>
        <input
          name="email"
          [(ngModel)]="emailInput"
          matInput
          placeholder="pelda@pelda.com"
          [formControl]="email"
          required
        />
        @if (email.invalid) {
        <mat-error>Az e-mail nem megfelelő!</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Tárgy</mat-label>
        <input
          name="name"
          [(ngModel)]="subjectInput"
          matInput
          [formControl]="subject"
          required
        />
        @if (subject.invalid) {
        <mat-error>Kérlek írd be a tárgyat!</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Üzenet</mat-label>
        <textarea
          name="message"
          [(ngModel)]="messageInput"
          rows="10"
          matInput
          [formControl]="message"
          required
        ></textarea>

        @if (message.invalid) {
        <mat-error>Kérlek írd be az üzeneted!</mat-error>
        }
      </mat-form-field>
      <img
        id="paperplane"
        src="/images/paperplane.png"
        alt="paperplane"
        class="hidden"
        appObserve
      />
      <button type="submit" mat-flat-button (click)="openEmailClient()">
        Küldés <mat-icon>send</mat-icon>
      </button>
    </div>


    <!-- Footer Section -->
    <div class="footer d-flex flex-column gap-5 align-items-center justify-content-center">
      <div class="d-flex gap-5 flex-column flex-md-row">
          <div class="d-flex flex-column align-items-start gap-2">
            <span>Hasznos</span>
            <a [routerLink]="['/weboldal-keszites/terms-and-conditions']">ÁSZF</a>
            <a [routerLink]="['/weboldal-keszites/impressum']">Impresszum</a>
            <a [routerLink]="['/weboldal-keszites/privacy-policy']">Adatvédelmi Szabályzat</a>
          </div>
          <div class="d-flex flex-column align-items-start gap-2">
            <span>Linkek</span>
            <a class="me-1" (click)="scrollToElement('hero')">Főoldal</a>
            <a class="me-1" (click)="scrollToElement('services-id')">Szolgáltatások</a>
            <a class="me-1" (click)="scrollToElement('reference-id')">Referenciák</a>
            <a class="me-1" (click)="scrollToElement('contact-id')">Kapcsolat</a>
          </div>
          <div class="d-flex gap-2 flex-column align-items-start">
            <span>Egyéb</span>
            <a href="https://discord.com/users/384814210829516810" target="_blank"
              ><i class="bi bi-discord"></i
            ></a>
            <a href="https://www.linkedin.com/in/roland-rokszin/" target="_blank"
              ><i class="bi bi-linkedin"></i
            ></a>
            <a href="https://github.com/Vestels" target="_blank"
              ><i class="bi bi-github"></i
            ></a>
          </div>
      </div>
      Copyright &copy; 2025. Minden jog fenntartva.
      | rokszinroland.hu
    </div>
  </div>

  
</div>
